*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 1rem;
}
h1{
  margin-bottom: 1rem;
}
label{
  display: block;
}
input[type="checkbox"]{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 10px;
}